.contact-info form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1; /* els camps es reparteixen equitativament */
}

.contact-info label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #111827;
}

.contact-info input,
.contact-info textarea {
    padding: 0.8rem;
    border: 2px solid #fff;  /* bordes més atractius */
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-info input:focus,
.contact-info textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.contact-info textarea {
    resize: vertical;
}

.contact-info button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #111827;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.contact-info button:hover {
    background-color: #fff;
    transform: scale(1.03);
}

.contact-info .contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-info .contact-details li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

@media (prefers-color-scheme: light) {
    body, .contact-info {
        color: #fff;
        background-color: #111827;
    }

    .contact-info label {
    color: #fff;
}

    .contact-info input,
    .contact-info textarea {
        background-color: #111827;
        color: #fff;
        border: 2px solid #111827;
    }

    .contact-info input:focus,
    .contact-info textarea:focus {
        border-color: #00aaff;
        box-shadow: 0 0 5px rgba(0, 170, 255, 0.7);
    }

    .contact-info button {
        background-color: #111827;
    }

    .contact-info button:hover {
        background-color: #111827;
    }
}